body {
    /* background: #f9f9f9; */
    background: #e98a12;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #faf5ef;
    font-size: 3rem;
}

body {   
    background: #e98a12;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Hide overflow */
} 

.flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* animation: flashScreen 0.3s ease 3.5s 6; */
    animation: flashScreen 0.3s 1.5s 6;
    z-index: 10; /* Ensure it's above other content */
}

.gif-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Start at the top */
    position: relative; /* For z-index context */
    z-index: 2; /* Above the body background */
}

.animation-img {
    max-width: 60%;
    max-height: 60%;
    transform: translateY(-100%);
    animation: moveDown 2s ease, fadeOut 0.5s ease 3s forwards;
    z-index: 2; /* Above the body background */
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%); /* Start off-screen */
    }
    50% {
        transform: translateY(0); /* Move halfway down the screen */
    }
  
}

@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    .animation-img {
        transform: translateY(-175%);
        animation: moveDownMobile 2s ease, fadeOut 0.5s ease 3s forwards;
    }
  
    @keyframes moveDownMobile {
        0% {
            transform: translateY(-175%); /* Start off-screen */
        }
        50% {
            transform: translateY(0); /* Move halfway down the screen */
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flashScreen {
    0%, 100% {
        background: red;
    }
    25%, 75% {
        background: white;
    }
}


.dm-img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    .container {
        flex-direction: column;
    }
}